.icon {
	padding: 5px;
	flex: 0 1 20%;
	transition: all 0.4s;
	&_wrap {
		background-color: #fff;
		padding: 10px 20px;

		color: black;
		border-radius: 25px;
		display: flex;
		flex-direction: column;
		align-items: center;
		cursor: pointer;

		@media (max-width: 500px) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	p,
	span {
		color: $blue;
	}
	p {
		font-size: 80px;
		line-height: 20px;
		margin-bottom: -15px;
		margin-top: -15px;
		text-align: center;
		transition: all 0.3s;
		&:hover {
			color: black;
		}
	}
	p.black {
		color: black;
	}
	&_desc {
		width: 100%;
		// overflow: hidden;
	}
	&_name {
		font-size: 24px;
		overflow: hidden;
	}
	&_words {
		text-align: center;
		font-size: 20px;
	}
	&.unactive {
		opacity: 0.3;
	}

	@media (max-width: 1000px) {
		flex: 0 1 25%;
	}
	@media (max-width: 700px) {
		flex: 0 1 33.3%;
	}
	@media (max-width: 600px) {
		flex: 0 1 50%;
	}
	@media (max-width: 500px) {
		flex: 0 1 100%;
	}
}
