.langMode {
  display: flex;

  font-weight: 400;
  padding: 5px 25px;
  padding-bottom: 9px;
  font-size: 34px;
  text-transform: uppercase;
  border-radius: 35px;
  cursor: pointer;
  transition: all 0.3s;
  background-color: $blue;

  * {
    color: #fff;
    transition: all 0.3s;
  }
  @media (max-width: 470px) {
    margin-bottom: 10px;
  }
  @media (min-width: 800px) {
    &:hover {
      * {
        color: black;
      }
      background-color: white;
    }
  }

  &.active {
    * {
      color: black;
      transition: all 0.3s;
    }
    background-color: #fff;

    @media (min-width: 800px) {
      &:hover {
        * {
          color: #fff;
        }
        background-color: $blue;
      }
    }
  }
  .arrow {
    margin: 0 5px;
    font-size: 42px;
    margin-bottom: -15px;
    padding-top: 1px;
  }
}
