.listItem {
	padding: 5px;
	flex: 0 1 25%;
	transition: all 0.3s;
	// cursor: pointer;

	&_wrap {
		background-color: #fff;
		color: black;
		padding: 5px 15px;
		border-radius: 25px;
		font-size: 28px;
		// cursor: pointer;

		display: flex;
		flex-direction: column;
	}
	span,
	b,
	p {
		color: $blue;
	}
	p {
		margin-bottom: -5px;
		margin-left: 5px;
		transition: all 0.3s;
		cursor: pointer;

		&:hover {
			color: black;
		}
	}

	&_head {
		display: flex;
		justify-content: space-between;
		align-items: start;
		cursor: pointer;
	}
	&_name {
		max-width: 175px;
		max-height: 40px;
		overflow: hidden;
	}
	&_manage {
		display: flex;
	}

	&_length {
		cursor: pointer;
	}
	&_bottom {
		display: flex;

		justify-content: end;
		cursor: pointer;
	}
	&_view {
		font-size: 40px;
		line-height: 20px;
	}

	@media (max-width: 1100px) {
		flex: 0 1 33.33%;
	}

	@media (max-width: 800px) {
		flex: 0 1 50%;
	}
	@media (max-width: 590px) {
		flex: 0 1 100%;
	}
}
