.listItem {
	padding: 5px;
	flex: 0 1 33.3%;
	transition: all 0.3s;

	&_wrap {
		background-color: #fff;
		color: black;
		padding: 5px 15px;
		border-radius: 25px;
		font-size: 28px;
		cursor: pointer;
	}
	span,
	b,
	p {
		color: $blue;
	}
	p {
		margin-bottom: -5px;
		margin-left: 5px;
		transition: all 0.3s;

		&:hover {
			color: black;
		}
	}

	&_head {
		display: flex;
		justify-content: space-between;
		align-items: start;

		margin-bottom: 20px;
	}
	&_desc {
		font-weight: 500;
	}
	&_manage {
		display: flex;

		justify-content: end;
	}

	&_add {
		font-size: 38px;
	}
	&_name {
		display: flex;
		align-items: center;
	}
	@media (min-width: 800px) {
		&:hover {
			transform: translateY(-6px);
		}
	}
	@media (max-width: 800px) {
		flex: 0 1 50%;
	}
	@media (max-width: 590px) {
		flex: 0 1 100%;
	}
}
