.my_btn {
  font-weight: 400;
  padding: 5px 30px;
  padding-bottom: 9px;
  font-size: 34px;
  color: white;
  background-color: $blue;
  border-radius: 40px;
  margin: 10px;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  border: none;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
  .loader {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
  }
}
