.full {
	width: 100%;
	font-size: 32px;
	padding: 0 5px;

	p {
		color: $blue;
		transition: all 0.3s;
		cursor: pointer;
		font-size: 32px;
	}
	.full_head {
		margin-top: 40px;
		margin-bottom: 12px;
		display: flex;
		justify-content: space-between;
		span {
			color: $blue;
		}
		p {
			font-size: 46px;
			&:hover {
				color: white;
			}
		}

		@media (max-width: 570px) {
			flex-direction: column;
		}
	}
	&_info {
		@media (max-width: 500px) {
			font-size: 24px;
		}
	}
	.full_btns {
		font-size: 39px;

		display: flex;
		&:first-child p {
			margin-right: 20px;
		}
		@media (max-width: 570px) {
			justify-content: space-between;
		}
	}
}
