.learn {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  &_items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    padding: 17px 0;

    max-height: 350px;
    overflow: auto;
    margin-bottom: 25px;
  }
  &_items::-webkit-scrollbar {
    background-color: $black;
    width: 15px;
  }
  &_items::-webkit-scrollbar-thumb {
    background-color: $blue;
    border-radius: 20px;
    border: 6px solid $black;
  }
  &_head {
    padding: 0 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
  }

  &_allBtn {
    padding: 5px 20px;
    padding-bottom: 9px;
    font-size: 22px;
    border: none;
    color: white;
  }
  &_allBtn:disabled {
    opacity: 0.3;
  }

  &_desc {
    font-size: 26px;
  }
}

.learn_startBtn,
.learn_remBtn {
  font-weight: 400;
  color: white;

  padding: 5px 25px;
  padding-bottom: 9px;
  font-size: 34px;
  border: none;

  &:disabled {
    opacity: 0.3;
  }
}

.learn_remBtn {
  margin-top: 40px;

  @media (max-width: 360px) {
    font-size: 32px;
  }
}
.learning {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_close {
    position: absolute;
    right: 0;
    top: -90px;

    font-size: 12px;
    @media (min-width: 800px) {
      &:hover {
        color: white;
      }
    }
  }

  p {
    color: $blue;
    cursor: pointer;
    margin: 20px 10px 0 10px;
    text-align: center;
    font-size: 56px;

    @media (min-width: 800px) {
      &:hover {
        color: white;
      }
    }
  }
  &_pair {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .mid {
      margin: 0px 100px;
      font-size: 36px;
      @media (max-width: 600px) {
        display: none;
      }
    }
  }
  &_word {
    font-size: 46px;
    margin: 0px 10px;
    @media (max-width: 600px) {
      font-size: 36px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}
.session_words_amount {
  font-size: 28px !important;
  // margin: 5px 0px;
  color: $blue;

  span {
    color: white;
  }
}
